<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Map</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Internal Styles-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" type="text/css" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/map-edit.css" />

  <!-- External Scripts-->
  <script src="/vendor/jquery-3.0.0.js"></script>


  <!-- Internal Scrips-->
  <script defer src="/scripts/app.js"></script>


</head>

<body>
  <%- include('partials/header') %>
    <div>
    <h1>
    </h1>
  </div>
    <container class='full-width'>
      <container class='half-width'>
        <div id="map"></div>
        <script>

          function initMap() {

            // Set Map
            let latitude = <%= mapByID.lat %>;
            let longitude = <%= mapByID.lng %>;
            let zoomed = <%= mapByID.zoom %>;
            let map;
            map = new google.maps.Map(document.getElementById("map"), {
              center: { lat: latitude, lng: longitude },
              zoom: zoomed,
            });

          <% points.forEach((e) => { %>;
              pointLatitude = <%= e.latitude %>;
              pointLongitude = <%= e.longitude %>;
              pointID = '<%= e.id %>';

              marker = new google.maps.Marker({
                position: {
                  lat: pointLatitude,
                  lng: pointLongitude
                },
                label: pointID,
                map,
              });
          <% }) %>;
        }
        window.initMap = initMap

      </script>
    </container>
    <container class='half-width'>

      <div class="point-list-header">
        <h1>
          <%= mapByID.name %>
        </h1>
      </div>

      <div class="point-list">
        <% points.forEach(e=> { %>
          <article class="point">
            <div class="point-card">
              <div class="point-id">
                <h3>
                  <%= e.id %>
                </h3>
              </div>
              <header>
                <div class="point-info">
                  <span>
                    <h2><%= e.title %></h2>
                  </span>
                </div>
                <footer>
                </footer>
              </div>
            </article>
            <% }) %>
        </div>
      </container>
    </container>
</body>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATkWMFgMKb9TmU_CmbD9EteeklG2gkC3M&callback=initMap&v=weekly"
  defer></script>

</html>
