<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Internal Styles-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/map-edit.css" />

  <!-- External Scripts-->
  <script src="/vendor/jquery-3.0.0.js"></script>


  <!-- Internal Scrips-->
  <script defer src="/scripts/app.js"></script>

</head>

<body>
  <container class='full-width'>
    <container class='half-width'>
      <div id="map"></div>
      <script>

        function initMap() {

          // Set Map
          let latitude = <%= mapByID.lat %>;
          let longitude = <%= mapByID.lng %>;
          let zoomed = <%= mapByID.zoom %>;
          let map;
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: latitude, lng: longitude },
            zoom: zoomed,
          });

          <% points.forEach((e) => { %>;
            pointLatitude = <%= e.latitude %>;
            pointLongitude = <%= e.longitude %>;
            pointID = '<%= e.id %>';

            marker = new google.maps.Marker({
              position: {
                lat: pointLatitude,
                lng: pointLongitude
              },
              label: pointID,
              map,
            });
          <% }) %>;
        }
        window.initMap = initMap

      </script>
    </container>
    <container class='half-width'>

      <div class="point-list-header">
        <h1>
          <%= mapByID.name %>
        </h1>
        </h3> Create New Point <h3></h3>
        <form action="/points/new" method="POST">
          <input type="text" name="latitude" placeholder="Point Latitude">
          <input type="text" name="longitude" placeholder="Point Longitude">
          <input type="text" name="title" placeholder="Title">
          <input type="textarea" name="description" placeholder="Description">
          <input type="text" name="image" placeholder="Image URL">
          <input type="hidden" name="mapID" value="<%= mapByID.id %>">
          <input type="submit" name="">
        </form>
      </div>

      <div class="point-list">
        <% points.forEach(e=> { %>
          <article class="point">
            <div class="point-card">
              <div class="point-id">
                <h3>
                  <%= e.id %>
                </h3>
              </div>
              <header>
                <div class="point-info">
                  <span>
                    <h2><%= e.title %></h2>
                  </span>
                </div>
              </header>
              <div class="point-content">
                <div class ="point-description">
                  <h4>
                    <%= e.description %>
                  </h4>
                </div>
                <div class ="point-image">
                  <img src="<%= e.image %>">
                </div>
              </div>
              <footer>
                <div>
                  <form action="/points/edit/<%= e.id %>/">
                    <button type="submit" class="btn btn-outline-info">&#9998</button>
                  </form>
                </div>
                <div>
                  <form method="POST" action="/points/delete/<%= e.id %>">
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                  </form>
                </div>
              </footer>
            </div>
          </article>
          <% }) %>
      </div>
    </container>
  </container>
</body>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATkWMFgMKb9TmU_CmbD9EteeklG2gkC3M&callback=initMap&v=weekly"
  defer></script>

</html>
